<html lang="en">

<head>
  <title>Voedselbos</title>
  <link href="styles.css" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Roboto+Slab:wght@300;400&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="container">

    <div class="header">
      <div class="date">Juni 2020</div>
      <div class="title">Voedselbos</div>
    </div>

    <img id="map-svg" src="voedselbos.svg" alt="Voedselbos vector map">

  </div>
</body>

</html>
